@charset "utf-8";
* {
   margin: 0;
   padding: 0;
}
body {
   background-image: url('vincent.gif');
   color: #fff;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   flex-flow: column nowrap;
}

header {
   background-color: #020e08;
   font-size: 1.75em;
   padding: 1rem 1rem 1rem 3rem;
 
}

header nav a {
   padding: 0.4rem 1rem;
   font-weight: 600;
   font-size: 20px;
   letter-spacing: 1px;
   text-decoration: none;
   color: #fff;
}

main h1 {
   font-family: URW Chancery L, cursive;
   text-align: center;
   padding: 2em;
   text-shadow:  black 2px 5px ;

}

main p {
   width: 70%;
   margin: 0 auto;
   padding: 1em;
   font-size: 1.25rem;
   font-weight: 200;
   text-align: center;
 
}

section #buttons{
   margin: 0 0 14% 0;
   text-align: center;
   padding: 1px;
    
}

#buttons a {
    font-size: 15px;
    text-decoration: none;
    padding: 1rem;
    margin: 0 8px;
    font-weight: 600;
    border-radius: 50px;
    text-transform: uppercase;
    align-items: center;
    
}

#content #buttons #white {
    background-color: #f7d5d580;
    color: #000000;
}
 
footer #about p {
    text-align: center;
}
